[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/shapelib"]
	path = vendor/shapelib
	url = https://github.com/OSGeo/shapelib.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "vendor/SimpleJSON"]
	path = vendor/SimpleJSON
	url = https://github.com/nbsdx/SimpleJSON.git
[submodule "vendor/libtiff"]
	path = vendor/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "vendor/poly2tri"]
	path = vendor/poly2tri
	url = https://github.com/greenm01/poly2tri.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "vendor/Font23D"]
	path = vendor/Font23D
	url = https://github.com/codetiger/Font23D.git
[submodule "vendor/ftgl"]
	path = vendor/ftgl
	url = https://github.com/ulrichard/ftgl.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
